In [ ]:

        Purchase-Analytics/insight_testsuite/tests/test_1/input/order_products.csv

In [76]:
import pandas as pd
orders_df = pd.read_csv('bla.csv')
products_df = pd.read_csv('product_id.csv')
products_df

,product_id,product_name,aisle_id,department_id
0,9327,Garlic Powder,104,13
1,17461,Air Chilled Organic Boneless Skinless Chicken ...,35,12
2,17668,Unsweetened Chocolate Almond Breeze Almond Milk,91,16
3,28985,Michigan Organic Kale,83,4
4,32665,Organic Ezekiel 49 Bread Cinnamon Raisin,112,3

products_df[['product_id', 'department_id']].drop_duplicates()

In [79]:
print(len(orders_df))
orders_df.head()

9

   order_id   product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          3       17668                  1          1

In [88]:
orders_wdep_df = orders_df.merge(
    products_df[['product_id', 'department_id']].drop_duplicates(),
    on=["product_id"],
#     validate="1:1"
)
orders_wdep_df

   order_id   product_id  add_to_cart_order  reordered  department_id
0          2       33120                  1          1             16
1          2       28985                  2          1              4
2          2        9327                  3          0             13
3          2       45918                  4          1             13
4          3       17668                  1          1             16
5          3       46667                  2          1              4
6          3       17461                  4          1             12
7          3       32665                  3          1              3
8          4       46842                  1          0              3

In [ ]:
a = 1.5
b = "%0.2f" % 1.5
b
c = float(b)
c

In [81]:
product_depart_pairs.head()

   order_id   product_id  add_to_cart_order  reordered
0          2       33120                  1          1
1          2       28985                  2          1
2          2        9327                  3          0
3          2       45918                  4          1
4          3       17668                  1          1

In [94]:
number_of_orders = orders_wdep_df.groupby('department_id')['reordered'].count()
number_of_orders.reset_index(drop=False)

   department_id  reordered
0              3          2
1              4          2
2             12          1
3             13          2
4             16          2

In [4]:
import numpy as np
product_depart_pairs = pd.DataFrame({'department_id': products_df['department_id'].values},
                                    index=products_df['product_id'])
def insert_department_id(product_depart_pairs, order):
    return product_depart_pairs.loc[order]

orders_df['department_id'] = insert_department_id(orders_df['product_id']).values
# AS: orders_df['department_id'] = product_depart_pairs.loc[orders_df['product_id']].values
number_of_orders = orders_df.groupby('department_id', as_index=False)['reordered'].count()
number_of_first_orders = orders_df.groupby('department_id', as_index=False)['reordered'].count() - \
        orders_df.groupby('department_id', as_index=False)['reordered'].sum()
percentage_float = number_of_first_orders['reordered'] / number_of_orders['reordered'] 

def create_decimal_point(percentage):
    return "%0.2f" % percentage
percentage_str = percentage_float.apply(create_decimal_point)
output_df = pd.DataFrame(number_of_orders['department_id'])
output_df['number_of_orders'] = number_of_orders['reordered']
output_df['number_of_first_orders'] = number_of_first_orders['reordered']
output_df['percentage'] = percentage_str

output_df.to_csv('report.csv')
output_df

   department_id  number_of_orders  number_of_first_orders percentage
0              3                 2                       1       0.50
1              4                 2                       0       0.00
2             12                 1                       0       0.00
3             13                 2                       1       0.50
4             16                 2                       0       0.00

In [ ]:
#Do the same thing without using pandas

In [96]:
def iter_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        for row in reader:
            yield row

In [97]:

for row in iter_csv('product_id.csv'):
    print(row)
    # heavy computation
    # write when done

OrderedDict([('product_id', '9327'), ('product_name', 'Garlic Powder'), ('aisle_id', '104'), ('department_id', '13')])

In [101]:
my_iter = iter_csv('product_id.csv')

print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

OrderedDict([('product_id', '9327'), ('product_name', 'Garlic Powder'), ('aisle_id', '104'), ('department_id', '13')])
OrderedDict([('product_id', '17461'), ('product_name', 'Air Chilled Organic Boneless Skinless Chicken Breasts'), ('aisle_id', '35'), ('department_id', '12')])
OrderedDict([('product_id', '17668'), ('product_name', 'Unsweetened Chocolate Almond Breeze Almond Milk'), ('aisle_id', '91'), ('department_id', '16')])

In [102]:
import unicodecsv
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
products = read_csv('product_id.csv')
orders = read_csv('bla.csv')
print(orders)

[OrderedDict([('order_id ', '2'), ('product_id', '33120'), ('add_to_cart_order', '1'), ('reordered', '1')]), OrderedDict([('order_id ', '2'), ('product_id', '28985'), ('add_to_cart_order', '2'), ('reordered', '1')]), OrderedDict([('order_id ', '2'), ('product_id', '9327'), ('add_to_cart_order', '3'), ('reordered', '0')]), OrderedDict([('order_id ', '2'), ('product_id', '45918'), ('add_to_cart_order', '4'), ('reordered', '1')]), OrderedDict([('order_id ', '3'), ('product_id', '17668'), ('add_to_cart_order', '1'), ('reordered', '1')]), OrderedDict([('order_id ', '3'), ('product_id', '46667'), ('add_to_cart_order', '2'), ('reordered', '1')]), OrderedDict([('order_id ', '3'), ('product_id', '17461'), ('add_to_cart_order', '4'), ('reordered', '1')]), OrderedDict([('order_id ', '3'), ('product_id', '32665'), ('add_to_cart_order', '3'), ('reordered', '1')]), OrderedDict([('order_id ', '4'), ('product_id', '46842'), ('add_to_cart_order', '1'), ('reordered', '0')])]

In [103]:
print(products)

[OrderedDict([('product_id', '9327'), ('product_name', 'Garlic Powder'), ('aisle_id', '104'), ('department_id', '13')]), OrderedDict([('product_id', '17461'), ('product_name', 'Air Chilled Organic Boneless Skinless Chicken Breasts'), ('aisle_id', '35'), ('department_id', '12')]), OrderedDict([('product_id', '17668'), ('product_name', 'Unsweetened Chocolate Almond Breeze Almond Milk'), ('aisle_id', '91'), ('department_id', '16')]), OrderedDict([('product_id', '28985'), ('product_name', 'Michigan Organic Kale'), ('aisle_id', '83'), ('department_id', '4')]), OrderedDict([('product_id', '32665'), ('product_name', 'Organic Ezekiel 49 Bread Cinnamon Raisin'), ('aisle_id', '112'), ('department_id', '3')]), OrderedDict([('product_id', '33120'), ('product_name', 'Organic Egg Whites'), ('aisle_id', '86'), ('department_id', '16')]), OrderedDict([('product_id', '45918'), ('product_name', 'Coconut Butter'), ('aisle_id', '19'), ('department_id', '13')]), OrderedDict([('product_id', '46667'), ('product_name', 'Organic Ginger Root'), ('aisle_id', '83'), ('department_id', '4')]), OrderedDict([('product_id', '46842'), ('product_name', 'Plain Pre-Sliced Bagels'), ('aisle_id', '93'), ('department_id', '3')])]

In [104]:
#Create a dictionary of products and departments
department_by_product = {}
for item in products:
    product_id = item['product_id']
    department_by_product[product_id] = item['department_id']

In [105]:
#Add department to the dictionary of orders
for item in orders:
    item['department_id'] = department_by_product[item['product_id']]

In [106]:
print(orders[0])

OrderedDict([('order_id ', '2'), ('product_id', '33120'), ('add_to_cart_order', '1'), ('reordered', '1'), ('department_id', '16')])

In [107]:
#Sort orders by department
from collections import defaultdict

# Create a dictionary of orders by department.
# The keys are departments, and the values are lists of order records.
orders_by_department = defaultdict(list)
for item in orders:
    department_id = item['department_id']
    orders_by_department[department_id].append(item)

In [108]:
print(orders_by_department)

defaultdict(<class 'list'>, {'16': [OrderedDict([('order_id ', '2'), ('product_id', '33120'), ('add_to_cart_order', '1'), ('reordered', '1'), ('department_id', '16')]), OrderedDict([('order_id ', '3'), ('product_id', '17668'), ('add_to_cart_order', '1'), ('reordered', '1'), ('department_id', '16')])], '4': [OrderedDict([('order_id ', '2'), ('product_id', '28985'), ('add_to_cart_order', '2'), ('reordered', '1'), ('department_id', '4')]), OrderedDict([('order_id ', '3'), ('product_id', '46667'), ('add_to_cart_order', '2'), ('reordered', '1'), ('department_id', '4')])], '13': [OrderedDict([('order_id ', '2'), ('product_id', '9327'), ('add_to_cart_order', '3'), ('reordered', '0'), ('department_id', '13')]), OrderedDict([('order_id ', '2'), ('product_id', '45918'), ('add_to_cart_order', '4'), ('reordered', '1'), ('department_id', '13')])], '12': [OrderedDict([('order_id ', '3'), ('product_id', '17461'), ('add_to_cart_order', '4'), ('reordered', '1'), ('department_id', '12')])], '3': [OrderedDict([('order_id ', '3'), ('product_id', '32665'), ('add_to_cart_order', '3'), ('reordered', '1'), ('department_id', '3')]), OrderedDict([('order_id ', '4'), ('product_id', '46842'), ('add_to_cart_order', '1'), ('reordered', '0'), ('department_id', '3')])]})

In [109]:
number_of_orders = {}
for department_id, items in orders_by_department.items():
# total_orders = 0
#    for item in items:
#        total_orders += 1
#    number_of_orders[department_id] = total_orders
    number_of_orders[department_id] = len(items)

number_of_first_orders = {}
for department_id, items in orders_by_department.items():
    total_first_orders = 0
    for item in items:
        if int(item['reordered']) == 1:
            total_first_orders = total_first_orders
            # AS: pass
        else: 
            assert int(item['reordered']) == 0
            total_first_orders += 1
    number_of_first_orders[department_id] = total_first_orders    

percentage = {}
for key in number_of_first_orders:
    ratio = number_of_first_orders[key] / number_of_orders[key]
    percentage[key] = ratio

In [110]:
print (number_of_orders)

{'16': 2, '4': 2, '13': 2, '12': 1, '3': 2}

In [61]:
output_unsorted = []
for key in number_of_orders:
    department_record = {}
    department_record['department_id'] = key
    department_record['number_of_orders'] = number_of_orders[key]
    department_record['number_of_first_orders'] = number_of_first_orders[key]
    department_record['percentage'] = "%0.2f" % percentage[key]
    department_record['percentage'] = "{:0.2f}".format(percentage[key])
    output_unsorted.append(department_record)

In [67]:
output = sorted(output_unsorted, key=lambda d: int(d['department_id']))
print(output)

[{'department_id': '3', 'number_of_orders': 2, 'number_of_first_orders': 1, 'percentage': '0.50'}, {'department_id': '4', 'number_of_orders': 2, 'number_of_first_orders': 0, 'percentage': '0.00'}, {'department_id': '12', 'number_of_orders': 1, 'number_of_first_orders': 0, 'percentage': '0.00'}, {'department_id': '13', 'number_of_orders': 2, 'number_of_first_orders': 1, 'percentage': '0.50'}, {'department_id': '16', 'number_of_orders': 2, 'number_of_first_orders': 0, 'percentage': '0.00'}]

In [68]:
output_df = pd.DataFrame(output)
output_df

  department_id  number_of_first_orders  number_of_orders percentage
0             3                       1                 2       0.50
1             4                       0                 2       0.00
2            12                       0                 1       0.00
3            13                       1                 2       0.50
4            16                       0                 2       0.00